
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";


//bootstrap mainfile
@import "../../node_modules/bootstrap/scss/bootstrap";


//custom files
@import "buttons";

.watering-woman {
	height: 500px;
	width: 1100px;
	object-fit: cover;
	position: relative;
}

.profile-picture {
	height: 250px;
	position: absolute;
	bottom: 90px;
	left: 190px;
}

